{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Isabella Silalahi</h1>
            <p>Runggu Marusaha Manalu</p>
            <h4>Runggu asas nama nama anaadsa</h4>
        </div>
    </div>
</div>
{{end}}

